.display{
    width: 100%;
    height: 100%;
}
.valueContainer{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: start;
    font-size: 5em;
    font-weight: bold;
}
.arrowContainer{
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 5em;
    font-weight: bold;
}
