.inputWrapper {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .lableStyle {
    font-size: 14px;
    color: #6d7a87;
  }
  .styledInput {
    height: 10px;
    padding: 10px;
    border-radius: 2px;
    /* box-shadow: 0 0 0 2px rgba(247, 67, 67, 0.2); */
    font-size: 16px;
    color: #262e36;
  }
  .styledInput:focus {
    outline: 0;
    border: 1px solid rgb(45, 140, 237);
    box-shadow: 0 0 0 2px rgb(45, 140, 237);
    border-radius: 2px;
  }
  .styledInput:focus.invalidInput {
    border: 1px solid rgb(247, 67, 67);
    box-shadow: 0 0 0 2px rgba(247, 67, 67, 0.2);
  }
  .invalidInput {
    border: 1px solid rgb(247, 67, 67);
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(247, 67, 67, 0.2);
  }
  
  .styledInput:disabled {
    background-color: #bec8d1;
  }
  
  .invalidText {
    color: #f74343;
    margin-left: 10px;
    font-size: 14px;
  }