.stepContainer{
    margin: 4%;
    width: 92%;
}
.summaryContainer{
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summaryContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infoValue{
    margin: 2%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.infoName{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
}
.tableCells{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}
.tableClass{
    border-collapse: collapse;
    width: 100%;
}